body {
    background-color: #382c12;
    color: antiquewhite;
}
/*Header*/
.hero-navigation {
    position: relative;
    width: 100%;
}
.hero-navigation img {
    width: 100%;
}
.hero-link-list {
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.hero-link-item {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}
.hero-link-item:last-child {
    margin-right: 0;
}
.hero-link-item a {
    color: white;
    font-weight: bold;
}
.om-oss-item{
    color: blue!important;    
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.oss {
    flex: 1 1 auto;
    padding: 20px;
}
.flexdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.louice {
    flex: 1 1 auto;
    padding: 20px;
    min-width: 100px;
    max-width: 500px;
    border: 2px solid green;
    border-radius: 5px;
}
.daniel {
    flex: 1 1 auto;
    padding: 20px;
    min-width: 100px;
    max-width: 500px;
    border: 2px solid green;
    border-radius: 5px;
}
/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.footer-left {
    flex: 1 1 auto;
    max-width: 100px;
    min-width: 100px;
}
.footer-right {
    flex: 1 1 auto;
    max-width: 100px;
    min-width: 100px;
    white-space: nowrap;
}
footer a {
    display: block;
    margin-bottom: 0.4em;
    white-space: nowrap;
}
