body {
    background-color: #382c12;
    color: antiquewhite;
}
/*Header*/
.align-left { 
    display: flex;
    justify-content: flex-start;
}
.align-right {
    display: flex;
    justify-content: flex-end;
}
.hero-navigation {
    position: relative;
    width: 100%;
}
.hero-navigation img {
    width: 100%;
}
.hero-link-list {
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.hero-link-item {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}
.hero-link-item:last-child {
    margin-right: 0;
}
.hero-link-item a {
    color: white;
    font-weight: bold;
    }
.start-item{
    color: #45CEFF!important;
}
.head-text {
    padding: 10px;
    position: absolute;
    width: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    top: 90px;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
.footer-left {
    flex: 1 1 auto;
    max-width: 100px;
    min-width: 100px;
}
.footer-right {
    flex: 1 1 auto;
    max-width: 100px;
    min-width: 100px;
    white-space: nowrap;
}
footer a {
    display: block;
    margin-bottom: 0.4em;
    white-space: nowrap;
}
@media screen and (max-width: 400px) {
    body { min-width: 400px; }
}