.align-left { 
    display: flex;
    justify-content: flex-start;
    vertical-align:;
}
.align-right {
    display: flex;
    justify-content: flex-end;
}

footer a {
    display: block;
}

#shopping-cart {
    position: relative;
    border: 1px solid black;
    background-color: lightblue;
}
[list="antal"] {
    width: 40px;
}

#head, #first-row, #second-row {
    margin-bottom: 30px;
}
.fa-trash {
    font-size: 1.2em;
    text-align: right;
}
